@page
@using Microsoft.Extensions.Localization
@using Sanbox.Main.Localization
@model Sanbox.Main.Pages.Books.Index
@inject IStringLocalizer<MainResource> L
@section scripts
{
    <abp-script src="/Pages/Books/Index.cshtml.js" />
}
<abp-card>
    <abp-card-header>
        <h2>@L["Books"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="BooksTable"></abp-table>
    </abp-card-body>
</abp-card>